<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Memory" Publisher="CN=Derik" Version="0.7.7.2" />
  <Properties>
    <DisplayName>Dimesoft Memory</DisplayName>
    <PublisherDisplayName>Derik</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>Dimesoft.Games.Memory</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Dimesoft.Games.Memory.App">
      <VisualElements DisplayName="Memory" Logo="Assets\150x150Tile.png" SmallLogo="Assets\30x30Tile.png" Description="Dimesoft.Games.Memory" ForegroundText="light" BackgroundColor="#446573">
        <DefaultTile ShowName="noLogos" WideLogo="Assets\310x150Tile.png" />
        <SplashScreen Image="Assets\SplashLogo.png" BackgroundColor="#446573" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileOpenPicker">
          <FileOpenPicker>
            <SupportedFileTypes>
              <FileType>.png</FileType>
            </SupportedFileTypes>
          </FileOpenPicker>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClientServer" />
    <Capability Name="picturesLibrary" />
    <Capability Name="internetClient" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>